
body {
  background-image: url("../images/grey_@2X.png");
  font-family: 'Exo', sans-serif;

}

.jumbotron {
  background-color: palevioletred;
  color: gainsboro;
  text-shadow: 1px 1px black;

}

.footer {
  position: absolute;
  bottom: 0;
}